[core]
    autocrlf = false
    safecrlf = true
    editor = 'nvim'

[user]
    email = eastizle@redhat.com
    name = Eguzki Astiz Lezaun
    signingkey = 5B0B5A88C4C5403B

# ------------------ M E R G E -------------------------
# https://git-scm.com/docs/git-mergetool
[merge]
    tool = meld
[mergetool "meld"]
#   trustExitCode = false
#   prompt = false
[mergetool]
    # don't create backup *.orig files
    keepBackup = false

# ------------------ D I F F -------------------------
# https://git-scm.com/docs/git-difftool
[diff]
    guitool = meld
[difftool "meld"]
#   trustExitCode = false
#   prompt = false

[Alias]
    gr = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    gr-branch = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'

[url "https://github.com/"]
    insteadOf = git://github.com/
